<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>
<body>

	<script type="text/javascript">
		
		$(document).ready(
			
				function (){
					$.ajax({
						url : "http://localhost:8080/usuario/",
						method:"GET"
					}).then (function (data, status, info){
						
						alert(data[0].id + "|| Login: " + data[0].login + " || Senha: " + data[0].senha);
					});
				}
		)
	
	</script>

</body>
</html>